*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", serif;
}
/* header start */
header{
    background-color: #FFF4E7;
    margin-bottom: 90px;
   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    margin-top: 50px;
}
.logo img{
    cursor: pointer;
}
.menu{
    margin-top: 50px;
}
.menu a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 60px;
}
/* banner start */
.b-content{
    text-align: center;
    margin-top: 120px;

}
.b-content h2{
    font-size: 64px;
    margin-bottom: 25px;

}
.b-content p{
    font-weight: 400px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
.b-content a{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}
.b-image img{
    margin-top: 60px;
   margin-bottom: 40px;
}
/* banner end */
/* header end */

/* feature start */
.feature{
margin-bottom: 120px;
}
.feature-container{
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
}
.feature-gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);gap: 25px;
}
.gallary{}
.gallary img{}
.feature-content{}
.feature-content h3{
    font-size: 45px;
    font-weight: 700;
}.quick-list{
    font-weight: 500;
    color: #727272;
}

.feature-content p{
    margin-bottom: 32px;
    color: #727272;
    line-height: 24px;
    margin-top: 24px;
}
.feature-span{
    color: #FF900E;
}
.feature-content a{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* feature end */

/* serice start */
.service{
    margin-bottom: 120px;
}
.service-container{
    display: flex;
    justify-content: center;
    gap: 120px;
}
.service-content{

}
.service-content h3{
    font-size: 45px;
    margin-bottom: 24px;
}
.service-content p{
    color: #727272;
    margin-bottom: 30px;
}
.service-item{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.service-item h3{
    font-size: 20px;
    font-weight: 600;
}
.service-item p{

}
.service-img{

}
.service-img img{

}
.some-facts{
    margin-top: 168px;
}
.some-facts h2{
    font-size: 45px;
    margin-bottom: 24px;
}
.some-facts p{
    color: #727272;
}
/* serice end */

.facts-item{
    margin-bottom: 120px;
}
.facts-container{
    display: flex;
    justify-content: space-evenly;
}
.facts-item{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}
.facts-item h2{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.facts-item h4{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
.facts-item img{}